body {
  margin: 0;
}
#container {
  position: relative;  /* makes this the origin of its children */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#calibrating {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background-color:rgb(232, 242, 251);
  display:none
}
#labels {
  position: absolute;  /* let us position ourself inside the container */
  z-index: 0;          /* make a new stacking context so children don't sort with rest of page */
  left: 0;             /* make our position the top left of the container */
  top: 0;
  color: rgb(0, 0, 0);
  
}
#labels>div {
  white-space: nowrap;
  position: absolute;  /* let us position them inside the container */
  left: 0;             /* make their default position the top left of the container */
  top: 0;
  cursor: pointer;     /* change the cursor to a hand when over us */
  font-size: large;
  user-select: none;   /* don't let the text get selected */
  /* text-shadow:         /* create a black outline 
  -1px -1px 0 rgb(255, 255, 255),
  0   -1px 0 rgb(255, 255, 255),
  1px -1px 0 rgb(255, 255, 255),
  1px  0   0 rgb(255, 255, 255),
  1px  1px 0 rgb(255, 255, 255),
  0    1px 0 rgb(255, 255, 255),
  -1px  1px 0 rgb(255, 255, 255),
  -1px  0   0 rgb(255, 255, 255); */
  background-color:rgba(255, 255, 255, 0.448);
  border-radius: 10px;
  border: 10px solid rgba(255, 255, 255, 0);
}
#labels>div:hover {
  color: red;
}
.button {
  background-color: #ffffffa3; 
  border: none;
  color: rgb(0, 0, 0);  
  text-align: center;
  text-decoration: none;
  display: inline-block;  
  cursor: pointer;
}
.buttonCloseLabel
{
  top: 0px;
  right: 0px;
  position:absolute;
  margin-top: -20px;
  margin-right: -20px;
  font-size: 24px;
  width: 26px;
  height: 26px;

}
.restart
{
  top: 0px;
  right: 0px;
  position:absolute;
  font-size: 26px;
  width: 32px;
  height: 32px;
  display: none;
  margin-top: 15px;
  margin-right: 15px;
  z-index: 11;
}

